/* *** REGOLE GENERALI ***  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

ul{
    list-style-type: none;
}

.debug{
    border: 1px solid red;
}

/* * HEADER * */
header{
    height: 70px;
}
/* logo  */
#logo-container{
    width: 70px;
}
/* searchbar  */
#searchbar{
    background-color: rgb(234, 234, 234);
}

#searchbar input[type="search"]{
    width: 100%;
    background-color: rgb(234, 234, 234);
    outline: none;
    border: none;
}
/* navbar */
#navbar{
    position: relative;
    left: 1.5rem;
}

#navbar ul a{
    color: rgb(91,88,88);
}

header #navbar .fa-bell{
    color: rgb(255,143,0);
}
/* ** * MAIN * ** */
main{
    height: calc(100vh - 70px);
}

/* aside  */
aside{
    background-color: rgb(6,30,52);
    width: 70px;
    height: 100%;
    float: left;
    padding-right: 1rem;
}

aside ul i{
    width: 30px;
}

aside ul li:hover{
    background-color: rgba(255,255,255,0.7);
    cursor: pointer;
}

aside ul li{
    padding: .5rem 0rem;
}

/* * main content *  */

#jumbo{
    height: 250px;
}

#jumbo .rounded-pill{
    background-color: rgba(0,0,0,0.2);
    padding: .25rem .5rem;
    font-size: .9rem;
}

#jumbo .rounded-pill:hover{
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#jumbo .fa-plus{
    padding: .25rem .7rem
}

#plus{
    border: 1px solid white;
    padding: .1rem .75rem;
}

.offcanvas{
    --bs-offcanvas-width: 100%;
}

.offcanvas-body .row label,
.offcanvas-body .row span{
    font-weight: 400;
}

/* Sezioni con tabelle  */

#lg-left,
#lg-right{
    width: 100%;
}

#lg-left table tr:hover{
    background-color: rgb(239, 239, 239);
}

th{
    font-weight: 400;
}

table i{
    font-size: .8rem;
}

table img{
    height: 2rem;
}

table .pill{
    font-size: .75rem;
    padding: .15rem .3rem;
}

#lg-right .card-body ul{
    border: 1px solid lightgray;
}

/* ***** MEDIA QUERY *****  */
/* mobile max 767px *** */
@media screen and (max-width: 767px){
    #jumbo{
        height: calc(100% / 3);
    }
}
/* tablet min 768px ***/
@media screen and (min-width: 768px){
    /* main  */
    #jumbo{
        height: 150px;
    }
}

/* desktop min 992px ***/
@media screen and (min-width: 992px){
    /* header  */
    #logo-container{
        width: 150px;
    }

    /* main  */
    #jumbo{
        height: 125px;
    }

    .offcanvas{
        --bs-offcanvas-width: 50%;
    }

    #lg-left{
        width: 70%;
    }

    #lg-right{
        width: 30%;
    }

    /* aisde  */
    aside{
        width: 150px;
    }
}