/* *** REGOLE GENERALI ***  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* * HEADER * */
header{
    height: 80px;
    background-color: rgb(245,245,245);
}

#header-container{
    height: 75%;
    background-color: aqua;
}

#logo-container{
    width: 80px;
}

/* ** * MAIN * ** */
main{
    height: calc(100vh - 80px);
}

/* aside  */
aside{
    background-color: rgb(6,30,52);
    width: 80px;
    height: 100%;
}

/* * main content *  */
#main-content{
    width: calc(100vw - 80px);
    height: 100%;
    background-color: blue;
}

#jumbo{
    border: 1px solid black;
    height: 40%;
}



/* ***** MEDIA QUERY *****  */
