/* *** REGOLE GENERALI ***  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

.debug{
    border: 1px solid red;
}

/* * HEADER * */
header{
    height: 80px;
}

#logo-container{
    width: 80px;
}

#searchbar{
    background-color: rgb(234, 234, 234);
}

#searchbar input[type="search"]{
    width: 100%;
    background-color: rgb(234, 234, 234);
    outline: none;
    border: none;
}

#navbar{
    position: relative;
    left: 1.5rem;
}

#bell{
    font-size: 1.25rem;
}

#navbar ul a{
    color: rgb(91,88,88);
}

header #navbar .fa-bell{
    color: rgb(255,143,0);
}
/* ** * MAIN * ** */
main{
    height: calc(100vh - 80px);
}

/* aside  */
aside{
    background-color: rgb(6,30,52);
    width: 80px;
    height: 100%;
}

/* * main content *  */
#main-content{
    width: calc(100vw - 80px);
    height: 100%;
    background-color: blue;
}

#jumbo{
    border: 1px solid black;
    height: 40%;
}



/* ***** MEDIA QUERY *****  */
/* desktop min 992px***  */
@media screen and (min-width: 992px){
    #logo-container{
        width: 180px;
    }
}